---
import Hero from "../components/Hero.astro";
import Main from "../components/Main.astro";
import Footer from "../layouts/Footer.astro";

---

<div class="home">
    <Hero/>
    <Main/>
    <Footer/>
</div>