---
import Articles from "../components/Articles.astro";
import Hero from "../components/Hero.astro";
import Interview from "../components/Interview.astro";
import Main from "../components/Main.astro";
import Footer from "../layouts/Footer.astro";

---

<div class="home">
    <Hero/>
    <Main/>
    <Interview/>
    <Articles/>
    <Footer/>
</div>