---
// import { getCollection } from "astro:content";

// const asideNews = await getCollection("asideNews")
//   // const getAsideNews = asideNews
//   console.log(asideNews);
  
---

<aside class="aside">
  <h1>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect x="2.5" y="2.82999" width="11" height="11" rx="5.5" stroke="#17206A" stroke-width="4"/>
      </svg>
      Сўнгги янгиликлар
  </h1>
  <div class="aside__card-container">
    <div class="aside-card">
      
    </div>
  </div>
</aside>




<style lang="scss">
      aside {
        width: 330px;
        height: 100%;
        background-color: #eee;
    }
</style>