---
import Container from "../utils/Container.astro";

---

<nav class="nav">
    <Container>
        <div class="nav-wrapper">
            <img src="../../public/logo.svg" alt="">
            <ul class="nav-menu">
                
            </ul>
        </div>
    </Container>
</nav>